@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300;1,500&family=Raleway&family=Roboto:wght@500&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
    --font-fam-one: 'Poppins', sans-serif;
    --font-fam-two: 'Raleway', sans-serif;
    --font-fam-three: 'Roboto', sans-serif;

    --gray-variant-one: #bdc3c7;
    --gray-variant-two: #85899E;
    --white-variant-one: #ecf0f1;
    --blue-variant-one: #820000;
    --blue-variant-two: #FF6969;
    --blue-variant-three: #0D4169;
    --sidebar-color: #121212;
}


.order-history-title{
    justify-self:left;
}

#history-title{
    font-size: 2.5em;
    font-weight: 600;
    font-family: var(--font-fam-three); 
}
.order-history-body{
    display: grid;
    grid-template-columns: 700px 250px;
    column-gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}

.order-history-body-left{
    height: 550px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(250, 248, 248, 0.7);
    border-radius: 15px;
}

.order-history-body-right{
  height: 550px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(250, 248, 248, 0.7);
  border-radius: 15px;
}


.order-history-body-right-title,
.order-history-body-left-title{
    margin-top: 10px;
    margin-left: 20px;
}

#history-body-right-title,
#history-body-left-title{
    font-size: 1.6em;
    font-weight: 600;
    font-family: var(--font-fam-two);
   
}

.order-history-search-con {
    display: flex;
    justify-content: right;
    margin-top: 5px;
    margin-right: 20px;
    color: #D9D9D9;
  }
  
  
  #order-history-search input[type=text] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 250px;
    outline: none;
    height: 10px;
  }
  
  #order-history-search input[type=text]:focus {
    border-color: #EE7214;
    box-shadow: 0 0 5px #85899E;
  }

  #search-icon {
    width: 30px;
    height: 30px
  }

  .order-history-list{
    height: 420px;
    margin-top: 20px;
    margin: 20px;
    background-color: transparent;
    border-radius: 5px;
    padding: 20px;
  }

  .order-favorite-list{
    height: 450px;
    margin-top: 20px;
    margin: 20px;
    background-color: transparent;
    border-radius: 5px;
  }